body {
    color: #566787;
    background: #f5f5f5;
    font-family: varela round, sans-serif;
    font-size: 13px
}
.glyphicon {
    margin-right: 2px;
}
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.table-title {
    padding-bottom: 15px;
    background: #435d7d;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px
}

.table-title .btn-group {
    float: right
}

.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none!important;
    margin-left: 10px
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px
}

.table-title .btn span {
    float: left;
    margin-top: 2px
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle
}

table.table tr th:first-child {
    width: 60px
}

table.table tr th:last-child {
    width: 100px
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer
}

table.table td:last-child i {
    opacity: .9;
    font-size: 22px;
    margin: 0 5px
}

table.table td a {
    font-weight: 700;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none!important
}

table.table td a:hover {
    color: #2196f3
}

table.table td a .edit {
    color: #ffc107;
    font-size: 20px;
}

table.table td a .delete {
    color: #f44336;
    font-size: 20px;
}

table.table td i {
    font-size: 19px
}

table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px
}

.custom-checkbox {
    position: relative
}

.custom-checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9
}

.custom-checkbox label:before {
    width: 18px;
    height: 18px
}

.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2
}

.custom-checkbox input[type=checkbox]:checked+label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg)
}

.custom-checkbox input[type=checkbox]:checked+label:before {
    border-color: #03a9f4;
    background: #03a9f4
}

.custom-checkbox input[type=checkbox]:checked+label:after {
    border-color: #fff
}

.custom-checkbox input[type=checkbox]:disabled+label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd
}